<div class="header-container">
  <nav class="header-container-nav">
    <ul class="header-heading">
      <li>User Management System</li>
    </ul>
    <ul class="header-ul">
      <li>
        <a class="nav-links" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li>
        <a class="nav-links" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li>
        <a class="nav-links" routerLinkActive="active" routerLink="/signUp">signUp</a>
      </li>
    </ul>
  </nav>
</div>
