<div class="create-new-user-container">
  <div class="create-new-user-form-container">
    <h1 class="heading">Create New User</h1>
    <form [formGroup]="createUserForm" (ngSubmit)="onCreateNewUser()">
      <div class="input-container">
        <input
          type="text"
          placeholder="user@gmail.com"
          formControlName="email"
        />
        <div
          class="error-msg"
          *ngIf="
            this.createUserForm.get('email')?.invalid &&
            this.createUserForm.get('email')?.dirty &&
            this.createUserForm.value.email.length > 5
          "
        >
          Invalid Email Id
        </div>
      </div>
      <div class="input-container">
        <input type="text" placeholder="Username" formControlName="username" />
        <div
          class="error-msg"
          *ngIf="
            this.createUserForm.get('username')?.invalid &&
            this.createUserForm.get('username')?.dirty &&
            this.createUserForm.value.username.length > 2
          "
        >
          Username must have atleast 4 characters
        </div>
      </div>
      <div class="input-container">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <div
          class="error-msg"
          *ngIf="
            this.createUserForm.get('password')?.invalid &&
            this.createUserForm.get('password')?.dirty &&
            this.createUserForm.value.password.length >= 5
          "
        >
          Password should have atleast 6 characters
        </div>
      </div>
      <div class="input-container">
        <input
          type="password"
          placeholder="Password Confirm"
          formControlName="passwordConfirm"
        />
        <div
          class="error-msg"
          *ngIf="
            this.createUserForm.get('passwordConfirm')?.invalid &&
            this.createUserForm.get('passwordConfirm')?.dirty &&
            this.createUserForm.value.passwordConfirm.length >= 5
          "
        >
          Password confirm should have atleast 6 characters
        </div>
      </div>

      <div class="input-container">
       <div class="select-container">
          <label for="role">Role of new User</label>&nbsp;&nbsp;&nbsp;
          <select class="select-tag" name="role" id="role" formControlName="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
       </div>
        
      </div>

      <div class="input-container">
        <button
          type="submit"
          [ngClass]="{ ngdisabled: !this.createUserForm.valid }"
        >
          Create
        </button>
        <!-- <button type="submit">Login</button> -->
        <div>Already have an account <a routerLink="/login">Login</a> here</div>
      </div>
    </form>
  </div>
</div>
